 <FilesMatch "settings.php">
    Order Deny,Allow
    Deny from all
    Satisfy All
 </FilesMatch>

 <FilesMatch "settingsbak.php">
    Order Deny,Allow
    Deny from all
    Satisfy All
 </FilesMatch>

 RewriteEngine on
 RewriteBase   /
 RewriteRule   ^([A-Za-z0-9]+)$    index.php/$1/
 RewriteRule   ^([A-Za-z0-9]+)/{1}$    index.php/$1/
 RewriteRule   ^([A-Za-z0-9]+)/{1}([A-Za-z0-9]+).js$    $2.js
 RewriteRule   ^([A-Za-z0-9]+)/{1}([A-Za-z0-9]+).php$    $2.php/$1/
